body {
    margin: 0px auto;
    padding: 0px;
    background:#DECAED ;

}
.cubo{
    position: relative;
    margin: 10px 20px;
    padding: 20px;
    border-width: 20px;
}

.retangulo-container {
   display: flex;
   margin: 0 90px;
}
.icon{
    width: 15px;
    height:15px;
}
.vector{
    display: inline-flex;
    margin-left: 80px;
    margin-top: 80px;
}
.mensagem {
    display: inline-flex;
    width: 200px;
    height: 80px;
    margin: 0px 10px;
    border-radius: 10px;
}
.input-field {
    display:inline-flex;
    position:static;
    height: 48px;
    width: 680px;
    left: 440px;
    top: 300px;
    border: none;
    border-radius:10px;
    margin: 30px  80px;
}

.button-left {
    color: white;
    height: 67px;
    width: 200px;
    left: 100px;
    top: 0px;
    border-radius: 10px;
    border: none;
    padding: 24px;
    background: rgb(238, 105, 216);
    margin: 0 70px;
}
.button-left:hover{
    background: pink;
    transition: 1s;

}

.button-ritgh {
    Color: white;
    height: 67px;
    width: 200px;
    left: 100px;
    top: 0px;
    border: none;
    border-radius: 10px;
    padding: 24px;
    background: rgb(178, 83, 187);
    margin: 0 70px;
    
}
.button-ritgh:hover{
    background: pink;
    transition: 1s;
}
.button-copy{
    Color: white;
    height: 67px;
    width: 200px;
    left: 100px;
    top: 0px;
    border: none;
    border-radius: 10px;
    padding: 24px;
    background: rgb(85, 7, 92);
    margin: 0 70px;
     
}
.button-copy:hover{
    background: pink;
    transition: 1s;
}
